<style scoped>
.dev-wrap {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

.dev {
  padding: 3px;
  background-color: mediumturquoise;
  width: auto;
}

</style>

<template>
<div class="frame-main">
<a-scene :debug="debug" :vr-mode-ui="'enabled: '+(isMobile&&isEnabledVR)" @enter-vr="onEnterVR" @exit-vr="onExitVR">
  <a-assets>
    <div v-for="(value, key) of data">
      <img :id="key" :src="value.src" :key="key+'-sky'">
      <img :id="key+'-telop'" :src="value.telop" :key="key+'-telop'">
    </div>
  </a-assets>
  <ATransitionSky ref="sky" :src="'#'+first.to" :rotation="`0 ${first.rotation} 0`"></ATransitionSky>
  <a-entity class="gotos" v-if="!isMoving">
    <AGoto v-for="goto of nowData.goto" :key="goto.angle" :goto="goto" :angle="goto.angle - rotation" :vr="isVRMode" @click="onGotoClick"/>
    <ATelop v-if="nowData && nowData.telop" :src="src" :angle="angle" />
  </a-entity>
  <ACursorCamera :vr="isVRMode" />
</a-scene>
</div>
</template>

<script>
import AFRAME from "aframe";
import "aframe-event-set-component";

import Components from "./aframe/v-components";
import GOTO_DATA from "../data.json"


export default {
  name: "VRScene",
  components: {
    ...Components
  },
  data: () => ({
    data: GOTO_DATA.places,
    first: GOTO_DATA.first,
    src: GOTO_DATA.first.to,
    rotation: GOTO_DATA.first.rotation,
    debug: false,
    angle: 0,
    isMobile: AFRAME.utils.device.isMobile(),
    isEnabledVR: true,
    isMoving: false,
    isVRMode: false
  }),
  methods: {
    onGotoClick(angle, {to, rotation}) {
      this.isMoving = true
      const camera = -(this.angle = angle)
      this.$refs.sky.onChange({
        src: "#"+to,
        camera: camera,
        rotation: rotation
      })
      .then(() => {
        this.rotation = rotation + camera
        this.src = to
        this.isMoving = false
      })
    },
    onEnterVR(e) {
      // gotoのelementを再生成し、a-amimationの値をリセットさせる
      this.isMoving = true
      this.isVRMode = true
      setTimeout(() => this.isMoving = false, 500)
    },
    onExitVR(e) {
      this.isMoving = true
      this.isVRMode = false
      setTimeout(() => this.isMoving = false, 500)
    }

  },
  computed: {
    nowData() {
      return GOTO_DATA.places[this.src]
    }
  }
};
</script>
